langchain>=0.3.20,<0.4
langchain-community>=0.3.19,<0.4
langchain-core>=0.3.0,<0.4
streamlit>=1.22.0
openai>=>=1.6.1
chromadb==0.3.21
pypdf>=3.16.2
pillow>=9.5.0
pytesseract>=0.3.10
python-dotenv>=1.0.0
matplotlib>=3.7.2
pandas>=2.0.3
plotly>=5.16.0
sentence-transformers>=2.2.2
python-magic>=0.4.27
unstructured>=0.10.30
qdrant-client


